body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fotoeu {
    width: 170px;
    height: 170px;
    background: rgb(255, 178, 127);
    border-radius: 350px;
    background: url("https://pbs.twimg.com/profile_images/1805359899477504000/tg2RHJCP_400x400.jpg");

}

h1 {
    font-family: "Protest Guerrilla";
    font-size: 35px;
    margin-top: 25px;
    margin-left: 35px;
}

.profissao {
    font-size: 20px;
    font-family: "Permanent Marker";
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
}

.bottombox {
    height: 900px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bloco1{
    width: 252px;
    height: 271px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.bloco2{
    width: 252px;
    height: 271px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.bloco3{
    width: 252px;
    height: 271px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.titulitou{
    width: 252px;
    height: 75px;
    background-color: rgb(166, 164, 164);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Permanent Marker";
    flex-direction: column;
    margin-bottom: 75px;
}
.back{
    height: 327px;
    width: 252px;
    border-radius: 20px;
    background-color: rgb(166, 164, 164);
    margin-top: none;
    margin-bottom: 75px;

}
.back2{
    height: 327px;
    width: 252px;
    border-radius: 20px;
    background-color: rgb(166, 164, 164);
    margin-top: none;
    margin-bottom: 75px;
}
@media (min-width: 1280px) {
    body{
        flex-direction: column;
    }

.topbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 544px;
    height: 200px;
    flex-direction: row;
}

.fotoeu {
    width: 170px;
    height: 170px;
    background: rgb(255, 178, 127);
    border-radius: 350px;
    background: url("https://pbs.twimg.com/profile_images/1805359899477504000/tg2RHJCP_400x400.jpg");
}

h1 {
    font-family: "Protest Guerrilla";
    font-size: 35px;
    margin-top: 0px;
    margin-left: 100px;
}

.profissao {
    font-size: 20px;
    font-family: "Permanent Marker";
    display: flex;
    align-items: center;
    margin-left: 75px;
    margin-top: 10px;
}

.bottombox {
    width: 894px;
    height: 271px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}
.bloco1{
    width: 252px;
    height: 271px;
    margin-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.bloco2{
    width: 252px;
    height: 271px;
    margin-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.bloco3{
    width: 252px;
    height: 271px;
    margin-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.titulitou{
    width: 252px;
    height: 75px;
    background-color: rgb(166, 164, 164);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Permanent Marker";
}
.back{
    height: 327px;
    width: 252px;
    border-radius: 20px;
    background-color: rgb(166, 164, 164);
    margin-top: none;

}
.back2{
    height: 327px;
    width: 252px;
    border-radius: 20px;
    background-color: rgb(166, 164, 164);
    margin-top: none;
    margin-left: 45px;
}

}